/*---------form CSS--------------*/
.login-body {
    padding: 100px 0 350px 0;
}

.login-form {
    margin: auto;
}
.title h2 {
    text-align: center;
}
.login-form div {
    margin: auto;
    font-weight: 500;
}

form input {
    width: 380px;
    height: 50px;
    margin-top: 5px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

form > div {
    padding-top: 30px;
    display: flex;
    flex-flow: column nowrap;
}


form {
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}

form button {
    width: 180px;
    height: 35px;
    margin: auto;
    border-radius: 25px;
    background-color: #1D6154;
    font-weight: 700;
    color: white;
    border: none;
    margin-top: 35px;
    cursor: pointer;
}

form button:hover {
    background-color: #0E2F28;
}

.reset {
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

.reset a {
    text-decoration: none;
    color: #3D3D3D;
}

.reset a:hover {
    text-decoration: underline;
}

.error {
    color: red;
}
/*---------------------------------------------------*/